*egg*
myData
src
RUNNUM
.cache
.idea
.vagrant
runs
_run_archives
*.pyc
*.gz
.ipynb_checkpoints
dump.rdb
logs
compare
venv
ual_baus_install.sh
data
*.ini
coedata
GUI/QGIS
8_24_2017Run.txt
COESimOutputWithSomeDebugging.txt
allStepsAllYears16GBRAM.txt
allStepsOutput*
configs
!configs/settings.yaml