-e git+https://github.com/UDST/urbansim.git@24970393b117cbf2464eeb336f425cbfb641fa1b#egg=urbansim
-e git+https://github.com/UDST/urbansim_defaults.git@python3#egg=urbansim_defaults
-e git+https://github.com/UDST/orca.git@f49398e2a363f8869e14b5218640d8d9c13863a4#egg=orca
-e git+https://github.com/UDST/orca_test.git@02357bacc6a31e87b1476ff0f5b377a683e0c86a#egg=orca_test
#-e git+https://github.com/UDST/pandana.git@8f24b8a1b7539c95b51153e9954f755a7116089b#egg=pandana
# using this version of anaconda http://repo.continuum.io/archive/Anaconda2-4.0.0-Linux-x86_64.sh
# to install:
# 1) get that anaconda and install
# 2) clone master (or release) of bayarea_urbansim
# 3) conda install git
# 4) pip install -r requirements.txt
# 5) conda config --add channels conda-forge
# 6) conda install gdal
# 7) conda install fiona
# 8) conda install geopandas 
# 9) conda config --add channels udst
# 10) conda install pandana
# 11) conda install urbansim // to solve cannot find utils
# run by calling `python baus.py &`
boto
