-e git+https://github.com/synthicity/urbansim.git@286e61049ac1e67c7e7a9eec8acecea704b1a332#egg=urbansim
-e git+https://github.com/synthicity/urbansim_defaults.git@8c95c2a10c5d0bcd1a470a3b636b47d8824e1254#egg=urbansim_defaults
-e git+https://github.com/UDST/orca.git@f49398e2a363f8869e14b5218640d8d9c13863a4#egg=orca
-e git+https://github.com/UDST/orca_test.git@02357bacc6a31e87b1476ff0f5b377a683e0c86a#egg=orca_test
#-e git+https://github.com/UDST/pandana.git@8f24b8a1b7539c95b51153e9954f755a7116089b#egg=pandana
# using this version of anaconda http://repo.continuum.io/archive/Anaconda2-4.0.0-Linux-x86_64.sh
# to install:
# 1) get that anaconda and install
# 2) clone master (or release) of bayarea_urbansim
# 3) conda install git
# 4) pip install -r requirements.txt
# 5) conda config --add channels conda-forge
# 6) conda install gdal
# 7) conda install fiona
# 8) conda install libgdal=2.1 # This step is only necessary as long as there's an issue between the fiona version of gdal and the default version of libgdal
# 9) conda install geopandas
# 10) conda config --add channels udst
# 11) conda install pandana
# 12) conda install urbansim // to solve cannot find utils
# run by calling `python baus.py &`
boto
